.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
}

.postContent {
  padding: 30px;
}
